<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/main-layout}">

<head>
	<title>Edit Denomination</title>
</head>

<body>

<div layout:fragment="content">

	<div class="main-header clearfix">
		<div class="page-title">
			<h3 class="no-margin">Dashboard</h3>
			<span>Welcome [[*{session.authenticated_user.accountInfo.first_name}]]...</span>
		</div>
		<!-- /page-title -->
	</div>
	<!-- /main-header -->

	<div class="padding-md" th:if="*{session.authenticated_user.hasRole('ADMIN')}">
		<div class="row">
			<div class="col-lg-12">

				<div class="panel panel-primary">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Denomination</h4>
					</div>
					<div class="panel-body">
						<div class="panel panel-default">
							<div class="panel-tab clearfix">
								<ul class="tab-bar">
									<li class="active"><a href="#" data-toggle="tab"><i class="fa fa-eye"></i> Denomination</a></li>
								</ul>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div class="tab-pane fade in active">
										<ul class="list-group" th:object="${denomination}">
											<li class="list-group-item clearfix inbox-item">
												<label class="col-lg-2 control-label" for="name">Denomination name</label>
												<span class="detail" th:text="*{name}">no value</span>
											</li>
											<li class="list-group-item clearfix inbox-item">
												<label class="col-lg-2 control-label" for="abv">Abbreviation
													<a th:href="@{#}" data-container="body" data-toggle="popover" data-placement="top" data-content="Short name for service type. Not more than three characters" data-original-title="" title="">
														<img th:src="@{/img/images/16x16/info.png}" />
													</a>
												</label>
												<span class="detail" th:text="*{abv}">no value</span>
											</li>
											<li class="list-group-item clearfix inbox-item">
												<label class="col-lg-2 control-label" for="country">Country <span class=""></span></label>
												<span class="detail" th:text="*{country}">
												no value
											</span>
											</li>
											<li class="list-group-item clearfix inbox-item">
												<label class="col-lg-2 control-label"  for="founder">Founder <span class=""></span></label>
												<span class="detail" th:text="*{founder}">no value</span>
											</li>
											<li class="list-group-item clearfix inbox-item">
												<label class="col-lg-2 control-label" for="startDate">Start Date</label>
												<span class="detail" th:text="*{startDate}">no value</span>
											</li>
											<li class="list-group-item clearfix inbox-item">
												<label class="col-lg-2 control-label" for="hq">Head Quartered <span class=""></span></label>
												<span class="detail" th:text="*{hq}">no value</span>
											</li>
											<li class="list-group-item clearfix inbox-item">
												<label class="col-lg-2 control-label" for="gpsLat">GPS Latitude <span class=""></span></label>
												<span class="detail" th:text="*{gpsLat}">no value</span>
											</li>
											<li class="list-group-item clearfix inbox-item">
												<label class="col-lg-2 control-label" for="gpsLong">GPS Longitude <span class=""></span></label>
												<span class="detail" th:text="*{gpsLong}">no value</span>
											</li>
											<li class="list-group-item clearfix inbox-item">
												<label class="col-lg-2 control-label" for="mission">Mission <span class=""></span></label>
												<span class="detail" th:text="*{mission}">no value</span>
											</li>
										</ul><!-- /list-group -->
									</div>
								</div>
							</div>
						</div><!-- /panel -->
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

</div>

</body>
</html>