<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Header</title>
</head>

<body>
	<div th:fragment="footer">
		<footer>
			<div class="row">
				<div class="col-sm-6">
					<span class="footer-brand"> 
						<strong class="text-danger" th:text="${session.denomination.sname}">Church</strong>
					</span>
					<p class="no-margin">
						&copy; 1979 - 2019 <strong th:text="${session.denomination.name}">DCLM </strong>. Founder: <strong th:text="${session.denomination.founder}"></strong>
					</p>
				</div>
			</div>
		</footer>

		<!--Modal-->
		<div class="modal fade" id="newFolder">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4>Create new folder</h4>
      				</div>
				    <div class="modal-body">
				        <form>
							<div class="form-group">
								<label for="folderName">Folder Name</label>
								<input type="text" class="form-control input-sm" id="folderName" placeholder="Folder name here...">
							</div>
						</form>
				    </div>
				    <div class="modal-footer">
				        <button class="btn btn-sm btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
						<a href="#" class="btn btn-danger btn-sm">Save changes</a>
				    </div>
			  	</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>

</body>

</html>